@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* .grid-bg {
  filter: brightness(10%)

  
} */

/* .grid-bg {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

/* .grid-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.8;
  z-index: -1;
} */

.grid-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(circle, transparent 400px, #000 800px);
  background-repeat: no-repeat;
  background-size: 100vw 180vh;

}
