.grid-bg {
  background-image: url("/bg.svg");
  background-repeat: repeat;
  background-size: 1000px;
  background-origin: 50vw 50vh;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.grid-bg::after {
  --size: calc(20vw + 20vh);
  --blur: calc(30vw + 50vh);
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(
    circle,
    transparent var(--size),
    #000 var(--blur)
  );
  background-repeat: no-repeat;
  background-size: 100vw 180vh;
}
